/* 
based on
https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535

*/
body {
    
    font-family: sans-serif;
    font-size: 16px;
    background: white;
}

#container {

    display: flex;
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid wheat; */
    align-items: center;
}



/* /*************** */


/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* nav */
nav {
    background: #222;
    padding: 0 15px;
    height: 100%;
    background-color: #222;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.menu,
.submenu {
    list-style-type: none;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.item {}

.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

.menu {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {

    display: block;
    padding: 15px 5px;
}

.menu li.subitem a {
    padding: 15px;



}

.toggle {

    order: 1;
    font-size: 20px;
}

.item.button {

    order: 2;

}

.item {
    order: 3;
    padding: 10px;

}

@media screen and (max-width: 768px) {

    #container {
        width: 99%;
        border: none;
    }
    body {

        background: darkgrey;
    }
    nav {

        width: 150px;
    }
    .item {
        order: 3;
        padding: 10px;
        width: 100%;
        display: none;
    }

    .active .item {
        display: block;
    }

    .button.secondary {
        border-bottom: 1px #444 solid;
    }

    .submenu {
        display: none;
    }

    .submenu-active .submenu {
        display: block;
    }

    .has-submenu > a::after {

        font-family: "Font Awesome 5 Free";
        font-size: 12px;
        line-height: 16px;
        font-weight: 900;
        content: "\f078";    /* down-arrow  - in FA unicode */
        color: white;
        padding-left: 5px;
    }

    .submenu a {
        padding: 10px 15px;
    }

    .submenu-active {

        background: #111;
        border-radius: 3px;

    }
}