/* 
based on
https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535

*/
body {

    font-family: sans-serif;
    font-size: 100%;
    background: #f8f9fa;
    
}
p{
    font-family: 'Allerta Stencil', sans-serif;

}
#container {

    /* display: flex; */
    width: 100%;
    margin: 0 auto;
    align-items: center;
}



/* /*************** */


/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* nav */
nav {
    background: #553f29;
    padding: 0 15px;
    height: 100%;
    
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.menu,
.submenu {
    list-style-type: none;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.item {
    padding: 10px;
}

.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

.menu {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {

    display: block;
    padding: 15px 5px;
}

.menu li.subitem a {
    padding: 15px;



}

.toggle {

    order: 1;
    font-size: 20px;
}

.item.button {

    order: 2;
    text-align: center;
    display: none;
}

.item {
    order: 3;
    padding: 10px;

}

.active .item {
    display: block;
}


.item.button {
    width: auto;
    order: 1;
    display: block;
}

.item {
    order: 3;
    padding: 10px;
    width: 100%;
    display: none;
}

.button a {

    /* background: #0080ff; */
    background: #222515;
    
}

.button.secondary {
    border: 0;
}


.button.secondary a {
    
    background: transparent;
    border: 1px #e1e8d7 solid;

}

.button a:hover {
    text-decoration: none;
}

.button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
}

.has-submenu>a::after {

    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    /* down-arrow  - in FA unicode */
    color: white;
    padding-left: 5px;
}

/* desktop */
@media screen and (min-width: 769px) {

    body {

        
    }



    .item {

        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .button {
        order: 2;
    }

    .submenu-active .submenu {

        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: #111;
    }

    .submenu {

        display: none;
    }

    .toggle {

        display: none;
    }

}


/* tablet */

@media screen and (max-width: 768px) {

    body {

        background: navy;
    }

    #left {

        display: none;
    }


    .menu {

        justify-content: center;

    }

    .logo {
        flex: 1;
    }

    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }

    .button a {

        background: #0080ff;
        border: 1px royalblue solid;

    }

    .button.secondary {
        border: 0;
    }


    .button.secondary a {

        background: transparent;
        border: 1px #0080ff solid;

    }

    .button a:hover {
        text-decoration: none;
    }

    .button:not(.secondary) a:hover {
        background: royalblue;
        border-color: darkblue;
    }

    .item {
        text-align: center;
    }


}

/* phone */
@media screen and (max-width: 500px) {

    #container {
        width: 100%;
        border: none;
        
    }

    #main {

        width: 100%;
    }

    

    section {
        display: flex;
        flex-direction: column;
    
    }
    
    #left {

        display: none;
    }
    body {

        background: darkgrey;
    }

    nav {

        width: 100%;
    }

    .item {
        order: 3;
        padding: 10px;
        width: 100%;
        display: none;
    }

    .active .item {
        display: block;
    }

    .button.secondary {
        border-bottom: 1px #444 solid;
    }

    .submenu {
        display: none;
    }

    .submenu-active .submenu {
        display: block;
    }

    .has-submenu>a::after {

        font-family: "Font Awesome 5 Free";
        font-size: 12px;
        line-height: 16px;
        font-weight: 900;
        content: "\f078";
        /* down-arrow  - in FA unicode */
        color: white;
        padding-left: 5px;
    }

    .submenu a {
        padding: 10px 15px;
    }

    .submenu-active {

        background: #111;
        border-radius: 3px;

    }
}

/* smaller phone */

/* more an academic exercise here to stop the 'log in' and 'sign' up
showing as buttons where there's not room */
@media screen and (max-width: 400px) {

    body {

        background-color: darkmagenta;
    }

    .item.button {
        /* display: none; */
        order: 2;


    }

    .menu li a {

        padding: 8px 5px;
    }


    .toggle {

        order: 1;
    }

    .logo {

        /* display: none; */
        font-size: 14px;
    }

    #left {

        display: none;
    }

    main {
        width: 100%;
        padding: 0;
    }

}





/* non nav settings */

section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;

}

main{

    width: 90%;
    margin: 0 auto;
}

 

section div {

    /* border: 1px dotted #222; */
    /* height: 200px; */
    min-height: 80%;
}

#left {
    flex: 1 0 10% ;
    /* background-color: blue; */

}

/* three main cols */
#main {
    padding: 12px;
    flex:6 0 70%;
    border-left: 1px solid #222515;
    

}

#right {

    padding: 5px;

    flex: 1 2  15%;
    border-left: 1px solid #222515;
}



main #dvdgrid {
    background-color:#a79282;
    margin-top: 17px;
    padding: 10px;
}

main #dvdgrid ul {
    
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    /* justify-content: space-evenly; */
   
    flex-wrap: wrap;
    /* align-items: flex-start;  */
    /* having flex-start gives unequal col heights */
}


main #dvdgrid ul li {
    
    margin-left: 10px;
    margin-bottom: 15px;
    background: white;
    
}

main #dvdgrid .items {
    
    border: 1px solid gray;
    border-radius: 5px;
    padding: 4px;
    flex: 1 1 25%;
    display: flex;
    filter: drop-shadow(5px 5px 3px #222);
    
    
}

main #dvdgrid ul li p {

    margin-left: 10px;
    font-size: 0.79em;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 600;
    color: dimgrey;

}
.fa-compact-disc {

    color: #222;
   
}

/* footer */
footer{

    height: 100px;
    margin-top: 10px;
    padding-top: 13px;
    display: flex;
    justify-items: flex-start;
    border-top: 1px #222515 dotted;


}

footer address {

    padding: 3px;
    /* flex: 1; */
    /* border: blue 1px solid; */
}

footer div {
/* flex: 1; */
}

#social {

    /* border: red 1px solid; */
    /* width: 200px; */
    padding-top: 6px;
    display: flex;
    flex: 0 1 220px;
    justify-items: flex-start;
    justify-content: space-between;
    margin-left: 11px;
    
}

#social a{

    color: navy;
}
#social a:hover{

    color: blue;
}

/* links */

#left ul {

    margin: 0;
    padding: 0;
    list-style: none;
    width: 90%;
}

#left ul li  {

    margin-left: 12px;
    border: 1px solid blue;
    margin-bottom: 3px;
    padding: 3px;
}


#left ul li a {

    color: #560500;
    font-size: 0.8em;
}


#left ul li a:hover {

    text-decoration: underline;
}

